<div class="container">
  <div class="row">
    
    <div class="col-md-2">
        <p class="profile-name">{{ details?.name }}</p>
    </div>

    <div class="col-md-4">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/time-entry/work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/time-entry/break">Break</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/time-entry/travel">Travel</a>
            </li>
          </ul>
    </div>

  </div>
</div>